<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Dashboard</h6>
        </div>
        <div class="card-body">
            <h1 class="text-center">Welcom to USS - Ultra Sneaker Store</h1>
            <div class="dashboard-bg text-center">
                <img src="/assets/web/images/img7.jpg" width="90%" height="450px">
            </div>
        </div>
    </div>
</div>